<!-- Fondo de color celeste / imagen
<div style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: linear-gradient(to bottom, #eaf5f8, #1aa3cc); z-index: -1;"></div>
-->
<div style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-image: url('assets/img/back.png'); background-size: cover; background-position: center; z-index: -1;"></div>

<!-- Emoji figure 
<ion-card style="position: absolute; top: 2%; left: 15%; right: 15%; text-align: center; box-shadow: none; background-color: rgb(255, 255, 255); padding:30px;">
  <img [src]="mainImage" style="flex: 1; max-width: 50%; padding: 10px;">
  <div style="flex: 2; padding: 10px;">
    <ion-label style="font-size: 16px;">Línea 1</ion-label>
    <ion-label style="font-size: 16px;">Línea 2</ion-label>
    <ion-label style="font-size: 16px;">Línea 3</ion-label>
  </div>
</ion-card>
-->
<ion-card style="position: absolute; top: 5%; left: 8%; right: 8%; text-align: center; padding:5px; border-radius: 10px;">
  <ion-grid>
    <ion-row >
      <!-- Columna para la imagen (lado izquierdo) -->
      <ion-col size="6" class="center-vertically">
        <ion-img [src]="mainImage"></ion-img>
      </ion-col>

      <!-- Columna para el texto (lado derecho) -->
      <ion-col size="6">
        <!-- Línea de texto 1 -->
        <ion-text>
          <ion-label style="font-size: 20px; font-weight: bold; color: rgb(75, 74, 74);">Calidad del aire </ion-label>
        </ion-text>
        <!-- Línea de texto 2 -->
        <ion-text>
          <ion-card [style.background-color]="getColor(message)">
            <ion-card-content>
              <ion-label style="font-size: 20px; font-weight: bold; color: white;">{{ message }}    </ion-label>
            </ion-card-content>
          </ion-card>
        </ion-text>
        <!-- Línea de texto 3 -->
        <ion-text>
          <p>Zona: </p>
        </ion-text>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-card>


<!-- message short of level -->
<div style="position: absolute; bottom: 62%; left: 8%; right: 8%; text-align: center;">
  <ion-label style="font-size: 30px; font-weight: bold; color: rgb(75, 74, 74);"> A tomar en cuenta¡ </ion-label>
</div>

<!-- message long of care
<ion-card style="position: absolute; top: 50%; left: 8%; right: 8%; text-align: center; box-shadow: none; background-color: rgba(255, 255, 255, 0.322)">
  <ion-card-content>
    <ion-label style="font-size: 20px; font-weight: bold; color: white;"> {{ careMessage }}   </ion-label>
  </ion-card-content>
</ion-card>
-->

<ion-grid style="position: absolute; top: 40%; left: 10%; right: 10%;" >
  <ion-row>
    <ion-col size="6">
      <ion-card class="custom-card" class="custom-img">
        <ion-img src='assets/img/mask.PNG' class="custom-img"></ion-img>
        <ion-card-header>
          <ion-card-title>Usar barbijo</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Usa barbijo al salir de casa para prevenir.
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card class="custom-card" >
        <ion-img src='assets/img/runner.png' class="custom-img"></ion-img>
        <ion-card-header>
          <ion-card-title>Salir afuera</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Sal a trotar a caminar, el aire esta limpio.
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-card class="custom-card" >
        <ion-img src='assets/img/window.png' class="custom-img"></ion-img>
        <ion-card-header>
          <ion-card-title>Abrir ventanas</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Haz que ventile el aire por tus habitaciones.
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card class="custom-card" >
        <ion-img src='assets/img/home.png' class="custom-img"></ion-img>
        <ion-card-header>
          <ion-card-title>Permanecer en interiores</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Evita actividades al aire libre.
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>