<!-- Fondo de color lila / imagen 
<div style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: linear-gradient(to bottom, hsl(193, 50%, 95%), rgb(186, 37, 95)); z-index: -1;"></div>
-->
<div [style.background-color]="getColor(message)" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: -1;"></div>
<!-- imagen de fondo
<div style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-image: url('assets/img/back.png'); background-size: cover; background-position: center; z-index: -1;"></div>
-->

<!-- Principal card -->
<ion-card style="position: relative; margin: 3% 8%; text-align: center; padding: 5px; border-radius: 24px;">
  <ion-grid>
    <!-- Primera Fila -->
    <ion-row class="ion-align-items-center" >
      <!-- Columna 1: "ICA:" -->
      <ion-col size="6">
        <ion-label style="font-size: 24px; font-weight: bold; color: rgb(75, 74, 74);">ICA:</ion-label>
      </ion-col>
      <!-- Columna 2: Variable y Icono de Lugar -->
      <ion-col size="6">
        <ion-item>
          <ion-label style="font-size: 12px; font-weight: bold; color: rgb(75, 74, 74);">{{ selectedStation }}</ion-label>
          <ion-icon name="location" size="large" (click)="openStationSelect()"></ion-icon>
          <!-- <ion-select [(ngModel)]="selectedStation" (ionChange)="onStationChange($event)" #stationSelect> -->
          <ion-select [(ngModel)]="selectedStation" #stationSelect> 
            <ion-select-option value="semapa">Semapa</ion-select-option>
            <ion-select-option value="fuerzaAerea">Fuerza Aérea</ion-select-option>
            <ion-select-option value="kanata">Kanata</ion-select-option>
          </ion-select>
        </ion-item>
        <!-- Agrega aquí tu icono de lugar -->
      </ion-col>
    </ion-row>

    <!-- Segunda Fila -->
    <ion-row>
      <!-- Columna única: Número grande -->
      <ion-col size="12">
        <ion-text>
          <h1 style="font-size: 36px; font-weight: bold;">34</h1>
        </ion-text>
      </ion-col>
    </ion-row>

    <!-- Tercera Fila -->
    <ion-row class="ion-align-items-center">
      <!-- Columna única: Texto con fondo lila y color blanco -->
      <ion-col size="12" class="ion-align-items-center">
        <ion-card [style.background-color]="getColor(message)" style="border-radius: 50px; width: 80% ; margin: 0 auto;">
          <ion-card-content>
            <ion-label style="font-size: 16px; font-weight: bold; color: white;">{{ message }}</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-card>


<!-- Second card -->
<ion-content style="position: relative; border-top-left-radius: 100px; overflow: hidden;">
  <!-- Primera Fila -->
  <ion-row class="ion-justify-content-center">
    <ion-col size="12" style="margin-top: 40px;">
      <ion-label style="font-size: 20px; font-weight: bold; margin-left: 15%;">A tomar en cuenta¡</ion-label>
    </ion-col>
  </ion-row>

  <!-- Segunda Fila -->
  <ion-row style="margin-left: 40px; margin-right: 40px; margin-top: 0%;">
    <ion-col size="6">
      <app-small-card [imageUrl]="linkImage[0]" [textContent]="careMessage[0]"  [textContentDetailed]="careMessageDetailed[0]"></app-small-card>
    </ion-col>
    <ion-col size="6">
      <app-small-card [imageUrl]="linkImage[1]" [textContent]="careMessage[1]"  [textContentDetailed]="careMessageDetailed[1]"></app-small-card>
    </ion-col>
  </ion-row>

  <!-- Tercera Fila -->
  <ion-row style="margin-left: 40px; margin-right: 40px; margin-top: 30px;">
    <ion-col size="6">
      <app-small-card [imageUrl]="linkImage[2]" [textContent]="careMessage[2]"  [textContentDetailed]="careMessageDetailed[2]"></app-small-card>
    </ion-col>
    <ion-col size="6">
      <app-small-card [imageUrl]="linkImage[3]" [textContent]="careMessage[3]"  [textContentDetailed]="careMessageDetailed[3]"></app-small-card>
    </ion-col>
  </ion-row>
</ion-content>

<ion-label style="font-size: 24px; font-weight: bold; color: rgb(75, 74, 74);"></ion-label>