<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Información de los contaminantes
    </ion-title>
  </ion-toolbar>
</ion-header>

<div style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-image: url('assets/img/back.png'); background-size: cover; background-position: center; z-index: -1;"></div>

<ion-grid style="position: absolute; top: 5%; left: 8%; right: 8%;" >
  <ion-row>
    <ion-col size="12">
      <ion-card>
        <ion-card-header>
          <ion-card-title>PM10</ion-card-title>
          <ion-card-subtitle>Partículas en suspensión de 10 micrómetros o menos</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-card-title>Causa:</ion-card-title>
          <ion-card-subtitle>Las PM10 son partículas sólidas o líquidas en el aire con un diámetro de 10 micrómetros o menos, y pueden provenir de fuentes naturales (como el polvo del suelo) y fuentes humanas (como la quema de combustibles fósiles y la actividad industrial).</ion-card-subtitle>
          <ion-card-title>Enfermedades</ion-card-title>
          <ion-card-subtitle>La exposición a PM10 puede causar problemas respiratorios, incluyendo irritación de garganta y ojos, tos, y agravamiento de enfermedades respiratorias crónicas, como el asma y la bronquitis.</ion-card-subtitle>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
    <ion-card>
      <ion-card-header>
        <ion-card-title>O3</ion-card-title>
        <ion-card-subtitle>Ozono</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-card-title>Causa:</ion-card-title>
      <ion-card-subtitle>El ozono en la troposfera, a nivel del suelo, se forma como resultado de la reacción de precursores, como los óxidos de nitrógeno (NOx) y compuestos orgánicos volátiles (COV), en presencia de la luz solar.</ion-card-subtitle>
      <ion-card-title>Enfermedades</ion-card-title>
      <ion-card-subtitle>La exposición al ozono puede causar irritación pulmonar, exacerbación de enfermedades respiratorias crónicas, como el asma, y síntomas como tos y dificultad para respirar.</ion-card-subtitle>
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col size="12">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Óxido de nitrógeno</ion-card-title>
      <ion-card-subtitle>NO</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-card-title>Causa:</ion-card-title>
      <ion-card-subtitle>Los NOx son compuestos químicos que incluyen óxido nítrico (NO) y dióxido de nitrógeno (NO2), y se generan principalmente por la quema de combustibles fósiles en vehículos y la industria.</ion-card-subtitle>
      <ion-card-title>Enfermedades</ion-card-title>
      <ion-card-subtitle> La exposición a NO2 puede causar irritación de las vías respiratorias, agravamiento de enfermedades respiratorias preexistentes y mayor susceptibilidad a infecciones respiratorias.</ion-card-subtitle>
    </ion-card-content>
  </ion-card>
</ion-col>
</ion-row>
<ion-row>
  <ion-col size="12">
  <ion-card>
    <ion-card-header>
      <ion-card-title>CO2</ion-card-title>
      <ion-card-subtitle>Dióxido de carbono</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-card-title>Causa:</ion-card-title>
      <ion-card-subtitle>El CO2 es un gas de efecto invernadero liberado principalmente por la quema de combustibles fósiles y la deforestación, lo que contribuye al calentamiento global y al cambio climático.</ion-card-subtitle>
      <ion-card-title>Enfermedades</ion-card-title>
      <ion-card-subtitle>A diferencia de otros contaminantes, el CO2 no causa enfermedades directas en humanos en las concentraciones típicas del aire ambiente. Sin embargo, su contribución al cambio climático tiene implicaciones para la salud, como el aumento de enfermedades transmitidas por vectores y eventos climáticos extremos.</ion-card-subtitle>
    </ion-card-content>
  </ion-card>
</ion-col>
</ion-row>

</ion-grid>